*{

background-color:pink;
}

.demo{

text-align:center;
line-height:30px;
}

#b1{

margin-left:50%;
margin-top:30px;
background-color:lightblue;
}

.login{
margin-left:85%;
}

.hd{
text-align:center;

}
