body{

 background-image:url('services.jpg');
}


#a{
text-align:center;
color:yellow;
font-size:15px;
}


#b{
text-align:center;
color:yellow;
font-size:15px;
}

#c{
text-align:center;
color:yellow;
font-size:15px;
}